# **Exploratory Data Analysis**

Understanding the dataset to explore how the data is present in the database and if there is a need of creating some aggregated tables that can help with:

* Vendor selection for profitability
* Product Pricing Optimization
* Inventory management

In [7]:
import pandas as pd
import numpy as np
import mysql.connector

In [8]:
# ================ Connect to MySQL Local Server DB -> To RUN MYSQL QUERIES USING : mysql.connector + cursor ===========
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='UMMU@112244',
    database='inventory_db'
)


# ============ cursor (DB object to run mysql queries and fetch data line by line from databale tables as per reqd) ===========
cursor = conn.cursor()

In [9]:
from sqlalchemy import create_engine   # create_engine Used to connect Python to MySQL databases using SQLAlchemy(-SQLAlchemy is a powerful Python library that lets you connect to databases and run SQL queries using both raw SQL and Pythonic ORM-style code.).
from sqlalchemy.engine import URL   # URL is a special helper class in SQLAlchemy used to safely and correctly build database connection strings â€” especially when your password or other parts contain special characters (like @, :, #, etc.).


# ================== Connet to MySQL local server -> Use SQLAlchemy instead (Recommended -> if you want use pandas for sql queries to run )
url = URL.create(   
        drivername="mysql+mysqlconnector",
        username="root",
        password="UMMU@112244",  # Don't worry, it's safe here
        host="localhost",
        database="Inventory_db"
    )

engine = create_engine(url)  # Connected now

In [ ]:
#=============== SEPERATE SCRIPT TO INGEST DATA INTO DATABASE ==============
# %run ingestion_db.py  # Calling th at

#### ============ Tables we have in hand =============

In [10]:

tables = pd.read_sql("SHOW TABLES", conn)   # Check tables at database (Here done using pandas to run sql query) 
tables

# ============= Ways to for NO WARNING =================================

# WAY 1 : Using raw mysql.connector + cursor  ===============
# cursor.execute("SHOW TABLES")

# for table in cursor.fetchall():
#     print(table[0])



# WAY 2: Use SQLAlchemy instead (Recommended -> if you want use pandas for sql queries to run ) ====
# from sqlalchemy import create_engine
# import pandas as pd

# engine = create_engine("mysql+mysqlconnector://root:your_password@localhost/inventory_db")

# with engine.connect() as conn:
#     tables = pd.read_sql("SHOW TABLES", conn)
# print(tables)

C:\Users\umarm\AppData\Local\Temp\ipykernel_13096\3942794502.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tables = pd.read_sql("SHOW TABLES", conn)   # Check tables at database (Here done using pandas to run sql query)

  Tables_in_inventory_db
0        begin_inventory
1          end_inventory
2        purchase_prices
3              purchases
4                  sales
5         vendor_invoice
6  vendors_final_summary

In [11]:
# Get idea what type of data is present in each table.

with engine.connect() as conn:        # RUN SQL (MySQL server through sqlalchemy) QUERIES   
    for table in tables['Tables_in_inventory_db']: # Why we did tables['Tables_in_inventory_db']? -> print(tables) above and see result , you will get this know 
        print('-'*50, f'{table}', '-'*50)
        print('Count of records:', pd.read_sql(f"SELECT COUNT(*) AS count FROM {table}", conn)['count'].values[0])   # Get only actual count (no datatype, or column name of returned result/df  as uery result)
        display(pd.read_sql(f"SELECT * FROM {table} limit 5", conn) )   # First 5 records just to check what we have.

# pandas.display() :- Renders the rich (HTML) representation of an object (Mostly used in jupyter notebook for pandas  Dataframe, plots, images)
# pandas.print() :-Prints a textual string representation of an object  (Standard python way to show output)

-------------------------------------------------- begin_inventory --------------------------------------------------
Count of records: 206529

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01

-------------------------------------------------- end_inventory --------------------------------------------------
Count of records: 224489

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31

-------------------------------------------------- purchase_prices --------------------------------------------------
Count of records: 12261

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

-------------------------------------------------- purchases --------------------------------------------------
Count of records: 2372474

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1

-------------------------------------------------- sales --------------------------------------------------
Count of records: 11365782

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

-------------------------------------------------- vendor_invoice --------------------------------------------------
Count of records: 5543

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None

-------------------------------------------------- vendors_final_summary --------------------------------------------------
Count of records: 10692

,VendorNumber,VendorName,Brand,Description,PurchasePrice,Volume,ActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesPrice,TotalSalesDollars,TotalExciseTax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalesToPurchaseRatio
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,1750.0,36.99,145080.0,3811251.60,128606.0,613021.40,4631548.94,236299.10,68601.68,820297.34,17.71,0.89,820297.34
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,1750.0,28.99,164038.0,3804041.22,142035.0,512403.31,4291107.61,260975.54,144929.24,487066.39,11.35,0.87,487066.39
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,1750.0,24.99,187407.0,3418303.68,169835.0,420408.49,4131626.15,312057.64,123780.22,713322.47,17.26,0.91,713322.47
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,1750.0,22.99,201682.0,3261197.94,169057.0,382729.79,3817831.43,310629.46,257032.07,556633.49,14.58,0.84,556633.49
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,1750.0,29.99,138109.0,3023206.01,121484.0,496084.85,3792631.16,223213.81,257032.07,769425.15,20.29,0.88,769425.15

###  ***Major Insights After Exploring tables:***
##### 1) begin_inventory & start_inventory are not much related to out business problem.
* Reason: Nothing about vendors given and only january & December inventory related info is given
##### 2) Everything in purchase_prices is already included in purchases for brands and stores of vendors.
##### 3) Ppurchases and sales tables aare important consoiderations for our business problems.
* purchases : About purchases made by vendors.
* sales : About sales made by vendors
##### 4) vendor_invoice : Important since about vendors we have data given in it.
* purchases -> Gives bill of purchases made by vendors with detail of store, product/brand, price etc.
* vendor_invoice -> Gives same bill but overall (Not in detail where & where purchases has been made)

#### ***Remark: Our business problem related tables are : purchases, sales and vendor_invoice***

# **==================== Extracting tables (as df with name as tables) so that we can uses them whenever needed.**====================**

In [6]:
# with engine.connect() as conn:
#     begin_inventory= pd.read_sql_query("SELECT * FROM begin_inventory", conn)
#     display(begin_inventory)

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01
...,...,...,...,...,...,...,...,...,...
206524,79_BALLYMENA_46985,79,BALLYMENA,46985,Rodney Strong Cab Svgn Alexa,750mL,13,22.99,2024-01-01
206525,79_BALLYMENA_47014,79,BALLYMENA,47014,Juan Gil Jumilla Rd,750mL,13,13.99,2024-01-01
206526,79_BALLYMENA_47090,79,BALLYMENA,47090,Napa Cellars Cab Svgn Napa,750mL,19,23.99,2024-01-01
206527,79_BALLYMENA_90011,79,BALLYMENA,90011,Ch Pichon Longville 12 Pauil,750mL,12,144.99,2024-01-01
206528,79_BALLYMENA_90089,79,BALLYMENA,90089,Ch Lynch Bages 12 Pauillac,750mL,24,119.99,2024-01-01

In [7]:
# with engine.connect() as conn:
#     end_inventory= pd.read_sql_query("SELECT * FROM end_inventory", conn)
#     display(end_inventory)

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31
...,...,...,...,...,...,...,...,...,...
224484,81_PEMBROKE_90087,81,PEMBROKE,90087,Ch Mouton Rothschild 12 Paui,750mL,3,469.99,2024-12-31
224485,81_PEMBROKE_90088,81,PEMBROKE,90088,Ch Le Petite Mouton 12 Pauil,750mL,3,134.99,2024-12-31
224486,81_PEMBROKE_90089,81,PEMBROKE,90089,Ch Lynch Bages 12 Pauillac,750mL,3,119.99,2024-12-31
224487,81_PEMBROKE_90090,81,PEMBROKE,90090,Ch Lafite Rothschild 12,750mL,3,649.99,2024-12-31
224488,81_PEMBROKE_90604,81,PEMBROKE,90604,Ch Lynch Bages Pauilac,750mL,2,119.99,2024-12-31

In [8]:
# with engine.connect() as conn:
#     purchase_prices= pd.read_sql_query("SELECT * FROM purchase_prices", conn)
#     display(purchase_prices)

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.
...,...,...,...,...,...,...,...,...,...
12256,44917,Ferreira 10-Yr Tawny Port,24.99,750mL,750,2,16.55,90024,VINILANDIA USA
12257,44944,Sanford Santa Rita Pnt Nr,22.99,750mL,750,2,14.93,4425,MARTIGNETTI COMPANIES
12258,45016,Neal One Lane Bridg Cab Svgn,93.99,750mL,750,2,61.43,10754,PERFECTA WINES
12259,46011,Folonari Pnt Nr Venezie,12.99,1500ml,1500,2,8.90,9744,FREDERICK WILDMAN & SONS
12260,46964,Calera Viognier Mt Harlan,35.99,750mL,750,2,24.32,10754,PERFECTA WINES

In [11]:
# with engine.connect() as conn:
#     purchases= pd.read_sql_query("SELECT * FROM purchases", conn)
#     display(purchases)

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2372469,49_GARIGILL_22298,49,22298,Zorvino Vyds Sangiovese,750mL,90058,ZORVINO VINEYARDS,13593,2024-12-19,2024-12-28,2025-01-09,2025-02-06,8.06,12,96.72,2
2372470,1_HARDERSFIELD_19556,1,19556,Zorvino Bacca Z Blackberry,750mL,90058,ZORVINO VINEYARDS,13593,2024-12-19,2024-12-27,2025-01-09,2025-02-06,9.39,12,112.68,2
2372471,66_EANVERNESS_22297,66,22297,Zorvino Vyds Pearz,750mL,90058,ZORVINO VINEYARDS,13593,2024-12-19,2024-12-26,2025-01-09,2025-02-06,6.75,12,81.00,2
2372472,69_MOUNTMEND_19557,69,19557,Zorvino Fragole Z Strawberry,750mL,90058,ZORVINO VINEYARDS,13593,2024-12-19,2024-12-26,2025-01-09,2025-02-06,9.39,12,112.68,2
2372473,55_DRY GULCH_22298,55,22298,Zorvino Vyds Sangiovese,750mL,90058,ZORVINO VINEYARDS,13593,2024-12-19,2024-12-28,2025-01-09,2025-02-06,8.06,12,96.72,2

In [ ]:
# with engine.connect() as conn:
#     sales= pd.read_sql_query("SELECT * FROM sales", conn)

In [13]:
display(sales)

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11365777,76_DONCASTER_5403,76,5403,Amaretto di Amore,750mL,5,39.95,7.99,2024-11-22,750.0,1,3.94,660,SAZERAC NORTH AMERICA INC.
11365778,76_DONCASTER_5403,76,5403,Amaretto di Amore,750mL,7,55.93,7.99,2024-11-23,750.0,1,5.51,660,SAZERAC NORTH AMERICA INC.
11365779,76_DONCASTER_5403,76,5403,Amaretto di Amore,750mL,9,71.91,7.99,2024-11-26,750.0,1,7.09,660,SAZERAC NORTH AMERICA INC.
11365780,76_DONCASTER_5403,76,5403,Amaretto di Amore,750mL,5,39.95,7.99,2024-11-27,750.0,1,3.94,660,SAZERAC NORTH AMERICA INC.
11365781,76_DONCASTER_5403,76,5403,Amaretto di Amore,750mL,3,23.97,7.99,2024-11-29,750.0,1,2.36,660,SAZERAC NORTH AMERICA INC.

In [14]:
# with engine.connect() as conn:
#     vendor_invoice= pd.read_sql_query("SELECT * FROM vendor_invoice", conn)
#     display(vendor_invoice)

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None
...,...,...,...,...,...,...,...,...,...,...
5538,9622,WEIN BAUER INC,2025-01-06,13626,2024-12-21,2025-02-10,90,1563.00,8.60,None
5539,9625,WESTERN SPIRITS BEVERAGE CO,2025-01-10,13661,2024-12-23,2025-02-18,4617,37300.48,186.50,None
5540,3664,WILLIAM GRANT & SONS INC,2025-01-02,13643,2024-12-22,2025-02-04,9848,202815.78,932.95,None
5541,9815,WINE GROUP INC,2025-01-03,13602,2024-12-20,2025-02-08,24747,149007.56,819.54,None
5542,90058,ZORVINO VINEYARDS,2025-01-05,13574,2024-12-18,2025-02-12,437,3608.11,16.60,None

# **=============Exploring tables in detail that are important to us (i.e., 4 tables: purchases, purchase_prices, sales and vendor_invoice )================**

In [1]:
#==== COnsidering any vendor and explore what we have in data

In [16]:
with engine.connect() as conn:
    purchase_price_1= pd.read_sql_query("SELECT * FROM purchase_prices WHERE VendorNumber = 4466", conn)
purchase_price_1

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,5215,TGI Fridays Long Island Iced,12.99,1750mL,1750,1,9.41,4466,AMERICAN VINTAGE BEVERAGE
1,5255,TGI Fridays Ultimte Mudslide,12.99,1750mL,1750,1,9.35,4466,AMERICAN VINTAGE BEVERAGE
2,3140,TGI Fridays Orange Dream,14.99,1750mL,1750,1,11.19,4466,AMERICAN VINTAGE BEVERAGE

In [17]:
# Consider any vendor and explore table what is given above in tables....
with engine.connect() as conn:
    purchases_1 = pd.read_sql_query("SELECT * FROM purchases WHERE VendorNumber = 4466", conn)
purchases_1

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
1,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
2,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
3,38_GOULCREST_5215,38,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27,2024-01-07,2024-01-19,2024-02-26,9.41,6,56.46,1
4,59_CLAETHORPES_5215,59,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27,2024-01-05,2024-01-19,2024-02-26,9.41,6,56.46,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2187,81_PEMBROKE_5215,81,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-29,2025-01-04,2025-02-10,9.41,6,56.46,1
2188,62_KILMARNOCK_5255,62,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-28,2025-01-04,2025-02-10,9.35,5,46.75,1
2189,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-28,2025-01-04,2025-02-10,9.41,5,47.05,1
2190,6_GOULCREST_5215,6,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-31,2025-01-04,2025-02-10,9.41,6,56.46,1
2191,35_HALIVAARA_5255,35,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-27,2025-01-04,2025-02-10,9.35,5,46.75,1

In [ ]:
# Insight -> Vendors have made multiple purchases on different dates

In [18]:
with engine.connect() as conn:
    sales_1 = pd.read_sql_query("SELECT * FROM sales WHERE VendorNo = 4466", conn)
sales_1.head(30)

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-09,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
1,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-12,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
2,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-15,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
3,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-21,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
4,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-23,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
5,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-31,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
6,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-01-02,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
7,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-01-07,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
8,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-01-14,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,2,25.98,12.99,2024-01-15,1750.0,1,3.67,4466,AMERICAN VINTAGE BEVERAGE
10,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-01-18,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
11,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-01-27,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
12,10_HORNSEY_5215,10,5215,TGI Fridays Long Island Iced,1.75L,2,25.98,12.99,2024-01-02,1750.0,1,3.67,4466,AMERICAN VINTAGE BEVERAGE
13,10_HORNSEY_5215,10,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-08,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
14,10_HORNSEY_5215,10,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-14,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
15,10_HORNSEY_5215,10,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-31,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
16,10_HORNSEY_5255,10,5255,TGI Fridays Ultimte Mudslide,1.75L,2,25.98,12.99,2024-01-01,1750.0,1,3.67,4466,AMERICAN VINTAGE BEVERAGE
17,10_HORNSEY_5255,10,5255,TGI Fridays Ultimte Mudslide,1.75L,3,38.97,12.99,2024-01-02,1750.0,1,5.51,4466,AMERICAN VINTAGE BEVERAGE
18,10_HORNSEY_5255,10,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-01-04,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
19,10_HORNSEY_5255,10,5255,TGI Fridays Ultimte Mudslide,1.75L,2,25.98,12.99,2024-01-05,1750.0,1,3.67,4466,AMERICAN VINTAGE BEVERAGE
20,10_HORNSEY_5255,10,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-01-13,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
21,10_HORNSEY_5255,10,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-01-16,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
22,10_HORNSEY_5255,10,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-01-19,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
23,10_HORNSEY_5255,10,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-01-29,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
24,10_HORNSEY_5255,10,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-01-30,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
25,14_BROMWICH_5215,14,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-04,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
26,14_BROMWICH_5215,14,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-11,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
27,14_BROMWICH_5215,14,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-13,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
28,14_BROMWICH_5215,14,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-17,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
29,14_BROMWICH_5215,14,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-18,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE

In [20]:
with engine.connect() as conn:
    vendor_invoice_1 = pd.read_sql("SELECT * FROM vendor_invoice WHERE VendorNumber = 4466", conn)
vendor_invoice_1

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-19,8207,2023-12-27,2024-02-26,335,3142.33,16.97,None
2,4466,AMERICAN VINTAGE BEVERAGE,2024-01-18,8307,2024-01-03,2024-02-18,41,383.35,1.99,None
3,4466,AMERICAN VINTAGE BEVERAGE,2024-01-27,8469,2024-01-14,2024-03-11,72,673.20,3.30,None
4,4466,AMERICAN VINTAGE BEVERAGE,2024-02-04,8532,2024-01-19,2024-03-15,79,740.21,3.48,None
5,4466,AMERICAN VINTAGE BEVERAGE,2024-02-09,8604,2024-01-24,2024-03-15,347,3261.37,17.61,None
6,4466,AMERICAN VINTAGE BEVERAGE,2024-02-17,8793,2024-02-05,2024-04-02,72,675.36,3.17,None
7,4466,AMERICAN VINTAGE BEVERAGE,2024-03-01,8892,2024-02-12,2024-03-28,117,1096.05,5.15,None
8,4466,AMERICAN VINTAGE BEVERAGE,2024-03-07,8995,2024-02-19,2024-04-02,129,1209.27,5.44,None
9,4466,AMERICAN VINTAGE BEVERAGE,2024-03-12,9033,2024-02-22,2024-04-16,147,1377.87,6.61,None
10,4466,AMERICAN VINTAGE BEVERAGE,2024-03-16,9180,2024-03-03,2024-04-19,211,1979.33,9.50,None
11,4466,AMERICAN VINTAGE BEVERAGE,2024-03-23,9244,2024-03-08,2024-04-21,161,1510.69,6.95,None
12,4466,AMERICAN VINTAGE BEVERAGE,2024-03-31,9371,2024-03-17,2024-05-13,176,1649.20,8.91,None
13,4466,AMERICAN VINTAGE BEVERAGE,2024-04-09,9491,2024-03-24,2024-05-08,215,2016.43,10.08,None
14,4466,AMERICAN VINTAGE BEVERAGE,2024-04-17,9583,2024-03-31,2024-05-12,110,1035.10,5.69,None
15,4466,AMERICAN VINTAGE BEVERAGE,2024-04-20,9639,2024-04-04,2024-06-04,515,5323.01,25.02,None
16,4466,AMERICAN VINTAGE BEVERAGE,2024-04-29,9800,2024-04-15,2024-06-07,275,2775.01,13.60,None
17,4466,AMERICAN VINTAGE BEVERAGE,2024-05-09,9886,2024-04-21,2024-06-12,312,3050.86,13.73,None
18,4466,AMERICAN VINTAGE BEVERAGE,2024-05-14,9999,2024-04-29,2024-06-26,310,3117.82,14.97,None
19,4466,AMERICAN VINTAGE BEVERAGE,2024-05-16,10095,2024-05-06,2024-06-27,215,2123.01,11.46,None
20,4466,AMERICAN VINTAGE BEVERAGE,2024-05-28,10169,2024-05-11,2024-07-04,327,3298.55,15.83,None
21,4466,AMERICAN VINTAGE BEVERAGE,2024-06-04,10257,2024-05-17,2024-07-08,376,3708.18,20.39,None
22,4466,AMERICAN VINTAGE BEVERAGE,2024-06-12,10346,2024-05-23,2024-07-20,640,6458.38,29.71,None
23,4466,AMERICAN VINTAGE BEVERAGE,2024-06-17,10445,2024-05-30,2024-07-19,288,2937.56,15.86,None
24,4466,AMERICAN VINTAGE BEVERAGE,2024-06-22,10600,2024-06-09,2024-08-01,308,3213.28,17.03,None
25,4466,AMERICAN VINTAGE BEVERAGE,2024-06-29,10695,2024-06-16,2024-08-12,143,1585.75,8.09,None
26,4466,AMERICAN VINTAGE BEVERAGE,2024-07-09,10777,2024-06-22,2024-08-15,18,179.88,0.99,None
27,4466,AMERICAN VINTAGE BEVERAGE,2024-07-08,10836,2024-06-25,2024-08-14,8,85.96,0.43,None
28,4466,AMERICAN VINTAGE BEVERAGE,2024-07-11,10969,2024-06-29,2024-08-18,94,993.12,5.06,None
29,4466,AMERICAN VINTAGE BEVERAGE,2024-07-19,11085,2024-07-06,2024-09-04,601,5883.09,31.18,None
30,4466,AMERICAN VINTAGE BEVERAGE,2024-07-26,11187,2024-07-14,2024-08-26,1535,15406.69,77.03,None
31,4466,AMERICAN VINTAGE BEVERAGE,2024-08-03,11244,2024-07-18,2024-09-04,266,2888.22,15.31,None
32,4466,AMERICAN VINTAGE BEVERAGE,2024-08-11,11362,2024-07-26,2024-09-24,206,2171.64,11.08,None
33,4466,AMERICAN VINTAGE BEVERAGE,2024-08-18,11489,2024-08-04,2024-09-16,768,7292.98,37.92,None
34,4466,AMERICAN VINTAGE BEVERAGE,2024-08-24,11540,2024-08-08,2024-10-02,1207,12242.43,64.88,None
35,4466,AMERICAN VINTAGE BEVERAGE,2024-09-02,11716,2024-08-19,2024-09-29,433,4334.43,20.37,None
36,4466,AMERICAN VINTAGE BEVERAGE,2024-09-12,11771,2024-08-23,2024-10-11,370,3640.18,18.20,None
37,4466,AMERICAN VINTAGE BEVERAGE,2024-09-20,11901,2024-09-01,2024-10-30,358,3626.74,16.32,None
38,4466,AMERICAN VINTAGE BEVERAGE,2024-09-25,11993,2024-09-07,2024-10-23,233,2264.85,12.23,None
39,4466,AMERICAN VINTAGE BEVERAGE,2024-10-01,12125,2024-09-16,2024-11-07,284,2813.46,15.47,None
40,4466,AMERICAN VINTAGE BEVERAGE,2024-10-08,12235,2024-09-23,2024-11-20,258,2592.08,11.92,None
41,4466,AMERICAN VINTAGE BEVERAGE,2024-10-09,12253,2024-09-23,2024-11-14,1,11.19,0.05,None
42,4466,AMERICAN VINTAGE BEVERAGE,2024-10-12,12321,2024-09-26,2024-11-19,172,1685.98,7.59,None
43,4466,AMERICAN VINTAGE BEVERAGE,2024-10-20,12466,2024-10-05,2024-11-26,280,2798.60,14.55,None
44,4466,AMERICAN VINTAGE BEVERAGE,2024-10-27,12515,2024-10-09,2024-11-30,178,1763.28,8.64,None
45,4466,AMERICAN VINTAGE BEVERAGE,2024-11-07,12702,2024-10-21,2024-12-11,183,1812.77,8.70,None
46,4466,AMERICAN VINTAGE BEVERAGE,2024-11-12,12752,2024-10-25,2024-12-11,216,2156.16,10.57,None
47,4466,AMERICAN VINTAGE BEVERAGE,2024-11-20,12828,2024-10-30,2024-12-18,262,2597.36,12.99,None
48,4466,AMERICAN VINTAGE BEVERAGE,2024-11-27,12929,2024-11-06,2025-01-04,270,2622.32,12.85,None
49,4466,AMERICAN VINTAGE BEVERAGE,2024-11-28,13092,2024-11-16,2024-12-30,209,2036.17,11.20,None
50,4466,AMERICAN VINTAGE BEVERAGE,2024-12-06,13134,2024-11-20,2025-01-18,305,3018.89,15.70,None
51,4466,AMERICAN VINTAGE BEVERAGE,2024-12-16,13254,2024-11-28,2025-01-13,262,2530.36,11.39,None
52,4466,AMERICAN VINTAGE BEVERAGE,2024-12-26,13432,2024-12-09,2025-01-27,231,2263.43,11.32,None
53,4466,AMERICAN VINTAGE BEVERAGE,2024-12-30,13483,2024-12-13,2025-02-11,221,2178.27,11.33,None
54,4466,AMERICAN VINTAGE BEVERAGE,2025-01-09,13627,2024-12-22,2025-02-05,413,3985.03,19.53,None

In [21]:
# Slight difference between purchase_prices and purchases:
purchases_1.groupby(['Brand', 'PurchasePrice'])[['Quantity','Dollars']].sum().reset_index()   # reset_index will bring Brand , PurchasePrice as columns (instead of  index made when grouped by default) i.e,  reset the index of your grouped DataFrame

   Brand  PurchasePrice  Quantity   Dollars
0   3140          11.19      4640  51921.60
1   5215           9.41      4923  46325.43
2   5255           9.35      6215  58110.25

In [22]:
sales_1.groupby('Brand')[['SalesPrice','SalesQuantity','SalesDollars']].sum()

       SalesPrice  SalesQuantity  SalesDollars
Brand
3140     26213.82           3510      45594.90
5215     36943.56           4173      54207.27
5255     44997.36           5384      69938.16

##  Insights...
##### 1 + 2) begin_inventory, end_inventory tables:- We have inventory information given for year 2024 from january to december.
##### 2+3) Slight difference between purchase_prices and purchases:
* purchases_prices -> Tells from which brands vendor has made purchase.
* purchases -> Gives detail of purchases like quantity purchased, From which Store, detailed Dates etc.
##### (3+4) Slight difference between purchases and vendor_invoice tables:
* purchases -> Also gives bill details of purchases made by vendors with a detail of from which brand and store inventory has been made.
* vendor_invoice -> Gives same bill but overall (Not in detail like from 'where & where' purchases has been made etc)
##### 5) sales tables -> Detail about sales made by vendors.

### ***Remark: sales and purchases tables gives actual purformance shown by vendors***

**Moreover**
* The purchases table contains actual purchase data, including the date of purchase, products (brands) purchased by vendors, the amount paid (in dollars), and the quantity purchased.
* The purchase price column is derived from the purchase_prices table, which provides product-wise actual and purchase prices. The combination of vendor and brand is unique in this table.
* The vendor_invoice table aggregates data from the purchases table, summarizing quantity and dollar amounts, along with an additional column for freight. This table maintains uniqueness based on vendor and PO number.
* The sales table captures actual sales transactions, detailing the brands purchased by vendors, the quantity sold, the selling price, and the revenue earned.

# **BOOKMARK
# **-----------------------------------------------------------------------------------------FROM HERE TILL END** -> WE HAVE WRITTEN EVERY IN SEPERATE SCRIPT THAT WE CAN SCHEDULE FOR REPETETIVE AS DATA COMES FROM SERVER IN REAL COMPANY -----------------------------------------------------------------------------------------

### Run below cells if you want to explore how we did that directly

## ======================== **As the data that we need for analysis is distributed in different tables, we need to create a summary table containing:=======================**

* -purchase transactions made by vendors
* -sales transaction data
* -freight costs for each vendor (cost of transporting goods from the seller (or vendor) to the buyerâ€™s location like buyer's store/warehouse).
* -actual product prices from vendors

In [23]:
#============= Summary from vendor_invoice required to us
# vendor_invoice.head(5)

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None

In [12]:
# with engine.connect() as conn:
#     freight_summary = pd.read_sql("""SELECT VendorNumber, SUM(Freight) as FreightCost
#     FROM vendor_invoice
#     GROUP BY VendorNumber""", conn)      # Check freightCost for each of 126 vendors(VendorName or VendorNumber as per you choice) who sells products(here called brand)

# display(freight_summary)

     VendorNumber  FreightCost
0             105        62.39
1            4466       793.91
2             388       211.74
3             480     89286.27
4             516      8510.41
..            ...          ...
121        201359         0.09
122          4901         0.72
123         90059        74.84
124          5083        10.68
125            54         0.48

[126 rows x 2 columns]

In [13]:
#========== Summary From purchase_prices and purchases required fields
# with engine.connect() as conn:
#     Purchase_PurPrice_summary = pd.read_sql("""SELECT 
#     p.VendorNumber, p.VendorName, p.Brand, p.Description, p.PurchasePrice,
#     pp.Volume, pp.Price AS ActualPrice,
#     SUM(p.Quantity) AS TotalPurchaseQuantity,
#     SUM(p.Dollars) AS TotalPurchaseDollars
#     FROM purchases AS p
#     INNER JOIN purchase_prices AS pp
#     ON p.Brand = pp.Brand 
#     WHERE p.PurchasePrice > 0  # Need those having price (No free i.e., no mistakenly added records)
#     GROUP BY  p.VendorNumber, p.VendorName, p.Brand,p.Description, p.PurchasePrice, pp.Volume, pp.Price
#     ORDER BY TotalPurchaseDollars""", conn)

# display(Purchase_PurPrice_summary)

,VendorNumber,VendorName,Brand,Description,PurchasePrice,Volume,ActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars
0,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,50,0.99,1.0,0.71
1,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,200,1.99,1.0,1.47
2,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,50,0.99,2.0,1.48
3,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,50,0.49,6.0,2.34
4,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,750,4.99,2.0,2.64
...,...,...,...,...,...,...,...,...,...
10687,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,1750,29.99,138109.0,3023206.01
10688,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,1750,22.99,201682.0,3261197.94
10689,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,1750,24.99,187407.0,3418303.68
10690,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,1750,28.99,164038.0,3804041.22
10691,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,1750,36.99,145080.0,3811251.60

In [ ]:
# #========== Summar From sales table required
# sales.columns

In [15]:
# with engine.connect() as conn:
#     sales_summary = pd.read_sql_query("""SELECT
#     VendorNo, Brand, 
#     SUM(SalesQuantity) AS TotalSalesQuantity,
#     SUM(SalesPrice) AS TotalSalesPrice,
#     SUM(SalesDollars) AS TotalSalesDollars,
#     SUM(ExciseTax) AS TotalExciseTax 
#     FROM sales
#     GROUP BY VendorNo, Brand
#     ORDER BY TotalSalesDollars""", conn)   
#  # ExciseTax: levied by the government on specific goods or services, often added before the product is sold to customers (often include in price)

In [16]:
# sales_summary

,VendorNo,Brand,TotalSalesQuantity,TotalSalesPrice,TotalSalesDollars,TotalExciseTax
0,8004,5287,2.0,0.98,0.98,0.10
1,9206,2773,1.0,0.99,0.99,0.05
2,3252,3933,2.0,0.99,1.98,0.10
3,10050,3623,2.0,1.98,1.98,0.10
4,660,2134,1.0,2.49,2.49,0.39
...,...,...,...,...,...,...
11067,3960,3545,121484.0,496084.85,3792631.16,223213.81
11068,3960,4261,169057.0,382729.79,3817831.43,310629.46
11069,17035,8068,169835.0,420408.49,4131626.15,312057.64
11070,4425,3405,142035.0,512403.31,4291107.61,260975.54
11071,1128,1233,128606.0,613021.40,4631548.94,236299.10

# Bringing All required summary tables under common tables for an amazing and easy insights and recommendations

In [66]:
# ========================== The following query DOES NOT RUN because it is very large since it has to fetch data from multiple tables which are huge in size,
# ===================  SO QUERY OPTIMIZATION IS VERY IMPORTANT HERE

# import time   # Let's check how much it takle to combine them
# start = time.time()

# with engine.connect() as conn:
#     final_table = pd.read_sql("""SELECT pp.VendorNumber, pp.Brand, pp.PurchasePrice, pp.Price AS ActualPrice,   # ======= pp i.e., purchases_prices already contain aggregates (Details are in purchases table so no need to consider that) 
#     SUM(vi.Quantity) AS TotalPurchaseQuantity,    # vendor_invoice contains aggregates like quantity purchased, Dollars (Its details are in purchases table , so again no need to consider that)
#     SUM(vi.Dollars) AS TotalPurchaseDollars,
#     SUM(s.SalesPrice) AS TotalSalesPrice,
#     SUM(s.ExciseTax) AS TotalExciseTax,
#     SUM(s.SalesQuantity) AS TotalSalesQuantity,
#     SUM(s.SalesDollars) AS TotalSalesDollars,
#     SUM(vi.Freight) AS TotalFreightCost
    
#     FROM purchase_prices AS pp
#     INNER JOIN
#     sales AS s
#     ON pp.VendorNumber = s.VendorNo
#     AND pp.Brand = s.Brand
    
#     INNER JOIN 
#     vendor_invoice AS vi
#     ON pp.VendorNumber = vi.VendorNumber
#     GROUP BY  pp.VendorNumber, pp.Brand, pp.PurchasePrice, pp.Price """, conn)

# end = time.time()

# print("Total Time : ", (end-start)/60,"min")

In [17]:
# =============== OPtimizing query .... (sales table creates more issue bcz it has data in crores) -> So let's use subquery or CTE(Common table expresion)
# import time
# start = time.time()

# with engine.connect() as conn:
#     vendors_final_summary =  pd.read_sql_query("""WITH FreightSummary AS(
#     SELECT VendorNumber, SUM(Freight) as FreightCost
#     FROM vendor_invoice
#     GROUP BY VendorNumber
#     ),
    
#     PurchaseSummary AS (SELECT 
#     p.VendorNumber, p.VendorName, p.Brand, p.Description, p.PurchasePrice,
#     pp.Price AS ActualPrice, pp.Volume,
#     SUM(p.Quantity) AS TotalPurchaseQuantity,
#     SUM(p.Dollars) AS TotalPurchaseDollars
#     FROM purchases AS p
#     INNER JOIN purchase_prices AS pp
#     ON p.Brand = pp.Brand 
#     WHERE p.PurchasePrice > 0  # Need those having price (No free i.e., no mistakenly added records)
#     GROUP BY  p.VendorNumber, p.VendorName, p.Brand,p.Description, p.PurchasePrice, pp.Volume, pp.Price
#     ),

#     SalesSummary AS (SELECT
#     VendorNo, Brand, 
#     SUM(SalesQuantity) AS TotalSalesQuantity,
#     SUM(SalesPrice) AS TotalSalesPrice,
#     SUM(SalesDollars) AS TotalSalesDollars,
#     SUM(ExciseTax) AS TotalExciseTax 
#     FROM sales
#     GROUP BY VendorNo, Brand
#     )

#     # Now fetch final summarey table from above CTE
#     SELECT 
#     ps.VendorNumber, ps.VendorName, ps.Brand, ps.Description, ps.PurchasePrice,
#     ps.Volume, ps.ActualPrice,
#     ps.TotalPurchaseQuantity,
#     ps.TotalPurchaseDollars,
#     ss.TotalSalesQuantity,
#     ss.TotalSalesPrice,
#     ss.TotalSalesDollars,
#     ss.TotalExciseTax,
#     fs.FreightCost
#     FROM PurchaseSummary AS ps
#     LEFT JOIN SalesSummary AS ss     # Left joinso that we can't skip those who have purchased products but have not sold anything yet.
#     ON ps.VendorNumber = ss.VendorNo
#     AND ps.Brand = ss.Brand
#     LEFT JOIN FreightSummary AS fs
#     ON ps.VendorNumber = fs.VendorNumber
#     ORDER BY ps.TotalPurchaseDollars DESC""", conn)
       
# end = time.time()
# print("Total Time : ", (end-start)/60,"min")

Total Time :  0.7856790542602539 min

In [18]:
# display(vendors_final_summary)

,VendorNumber,VendorName,Brand,Description,PurchasePrice,Volume,ActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesPrice,TotalSalesDollars,TotalExciseTax,FreightCost
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,1750,36.99,145080.0,3811251.60,128606.0,613021.40,4631548.94,236299.10,68601.68
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,1750,28.99,164038.0,3804041.22,142035.0,512403.31,4291107.61,260975.54,144929.24
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,1750,24.99,187407.0,3418303.68,169835.0,420408.49,4131626.15,312057.64,123780.22
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,1750,22.99,201682.0,3261197.94,169057.0,382729.79,3817831.43,310629.46,257032.07
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,1750,29.99,138109.0,3023206.01,121484.0,496084.85,3792631.16,223213.81,257032.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,750,4.99,2.0,2.64,5.0,10.96,15.95,0.55,27100.41
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,50,0.49,6.0,2.34,134.0,1.47,65.66,7.04,50293.62
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,50,0.99,2.0,1.48,NaN,NaN,NaN,NaN,14069.87
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,200,1.99,1.0,1.47,69.0,71.64,137.31,14.49,257032.07
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,50,0.99,1.0,0.71,86.0,33.66,85.14,4.46,38994.78

# ***INSIGHTS...***

#### **The above query generates a vendor-wise sales and purchase summary, which is valuable for:**

##### **Performance Optimization:**
* The query involves heavy joins and aggregations on large datasets like sales and purchases.
* Storing the pre-aggregated results avoids repeated expensive computations (CTE's)
* Helps in analyzing sales, purchases, and pricing for different vendors and brands.
* Future Benefits of Storing this data for faster Dashboarding & Reporting (By creatig its seperate script and scheduling to reduce manual work and do dashboarding directly on summary data).
* Instead of running expensive queries each time, dashboards can fetch data quickly from vendor_final_summary.

# ***====================== Pushing/Saving this final table into mysql local server DB 'Inventory_db" so that we don't need to run above query to perform any calculation, rather get this data from server itself.====================***

# Before saving into database, let's do ***DATA CLEANING*** (Handling Missing Values,Correcting Inconsistent Formats, Duplicate handling, Fixing Typos and Entry Errors, Standardizing Units ...

In [19]:
# # Check datatypes
# vendors_final_summary.dtypes

VendorNumber               int64
VendorName                object
Brand                      int64
Description               object
PurchasePrice            float64
Volume                    object
ActualPrice              float64
TotalPurchaseQuantity    float64
TotalPurchaseDollars     float64
TotalSalesQuantity       float64
TotalSalesPrice          float64
TotalSalesDollars        float64
TotalExciseTax           float64
FreightCost              float64
dtype: object

* **Insight -> Alright but need to change Volume's datatype from object to float**

In [20]:
# vendors_final_summary['Volume'] = vendors_final_summary['Volume'].astype('float64')

In [22]:
# #=============== Check null entries/missing
# vendors_final_summary.isnull().sum()

VendorNumber               0
VendorName                 0
Brand                      0
Description                0
PurchasePrice              0
Volume                     0
ActualPrice                0
TotalPurchaseQuantity      0
TotalPurchaseDollars       0
TotalSalesQuantity       375
TotalSalesPrice          375
TotalSalesDollars        375
TotalExciseTax           375
FreightCost                0
dtype: int64

In [23]:
# # Fillinng null with 0 (nothing sold)
# vendors_final_summary.fillna(0, inplace=True)

* **Insight -> Some vendors have sales entries as NULL , means they have purchased product/brand but not yet sold anything**

In [ ]:
# #====== Check for Categorical columns like VendorName,Description
# vendors_final_summary['VendorName'].tolist()

* **Insight -> Irrelevant white spaces specially trailing spaces**

In [25]:
# Fix this
# vendors_final_summary['VendorName'] = vendors_final_summary['VendorName'].str.strip()  # strip() will trim spaces

In [26]:
# vendors_final_summary['Description'].unique()b

array(['Jack Daniels No 7 Black', "Tito's Handmade Vodka",
       'Absolut 80 Proof', ..., 'Crown Royal Apple',
       'Concannon Glen Ellen Wh Zin', 'The Club Strawbry Margarita'],
      dtype=object)

* **Insight -> Description is Alright**

# =============== ***Data Wrangling*** (its sub-part of data cleaning) i.e, feature engineering (new featutures), joining/merging if any, data transformation etc =================

#==== New features that help to get more related insights about our business problem

In [27]:
# vendors_final_summary.columns

Index(['VendorNumber', 'VendorName', 'Brand', 'Description', 'PurchasePrice',
       'Volume', 'ActualPrice', 'TotalPurchaseQuantity',
       'TotalPurchaseDollars', 'TotalSalesQuantity', 'TotalSalesPrice',
       'TotalSalesDollars', 'TotalExciseTax', 'FreightCost'],
      dtype='object')

In [28]:
# vendors_final_summary['GrossProfit'] = vendors_final_summary['TotalSalesDollars'] - vendors_final_summary['TotalPurchaseDollars']   # Negative means LOss
# vendors_final_summary.head()

,VendorNumber,VendorName,Brand,Description,PurchasePrice,Volume,ActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesPrice,TotalSalesDollars,TotalExciseTax,FreightCost,GrossProfit
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,1750.0,36.99,145080.0,3811251.60,128606.0,613021.40,4631548.94,236299.10,68601.68,820297.34
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,1750.0,28.99,164038.0,3804041.22,142035.0,512403.31,4291107.61,260975.54,144929.24,487066.39
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,1750.0,24.99,187407.0,3418303.68,169835.0,420408.49,4131626.15,312057.64,123780.22,713322.47
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,1750.0,22.99,201682.0,3261197.94,169057.0,382729.79,3817831.43,310629.46,257032.07,556633.49
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,1750.0,29.99,138109.0,3023206.01,121484.0,496084.85,3792631.16,223213.81,257032.07,769425.15

In [29]:
#  #======= Profit Margin of vendors (%)
# vendors_final_summary['ProfitMargin'] = round(vendors_final_summary['GrossProfit'] / vendors_final_summary['TotalSalesDollars'] * 100, 2)   # Negative means LOss
# # It may have infinity since TotalSalesDollars in denomenator is 0 for some vendors - Handling it 

# # Replace inf, -inf with 0
# vendors_final_summary['ProfitMargin'] = vendors_final_summary['ProfitMargin'].replace([np.inf, -np.inf], 0)
# vendors_final_summary.head()

,VendorNumber,VendorName,Brand,Description,PurchasePrice,Volume,ActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesPrice,TotalSalesDollars,TotalExciseTax,FreightCost,GrossProfit,ProfitMargin
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,1750.0,36.99,145080.0,3811251.60,128606.0,613021.40,4631548.94,236299.10,68601.68,820297.34,17.71
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,1750.0,28.99,164038.0,3804041.22,142035.0,512403.31,4291107.61,260975.54,144929.24,487066.39,11.35
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,1750.0,24.99,187407.0,3418303.68,169835.0,420408.49,4131626.15,312057.64,123780.22,713322.47,17.26
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,1750.0,22.99,201682.0,3261197.94,169057.0,382729.79,3817831.43,310629.46,257032.07,556633.49,14.58
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,1750.0,29.99,138109.0,3023206.01,121484.0,496084.85,3792631.16,223213.81,257032.07,769425.15,20.29

In [30]:
# # ========= Column for 'StockTurnOver' : (or Inventory Turnover)It is a rate at which a company sells and replaces its inventory over a specific period, typically a year
# vendors_final_summary['StockTurnover'] = round(vendors_final_summary['TotalSalesQuantity'] / vendors_final_summary['TotalPurchaseQuantity'], 2) # Mosttly <= 1 (if > 1, means company has old quantities pending and sold that as well)
# vendors_final_summary.head()

,VendorNumber,VendorName,Brand,Description,PurchasePrice,Volume,ActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesPrice,TotalSalesDollars,TotalExciseTax,FreightCost,GrossProfit,ProfitMargin,StockTurnover
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,1750.0,36.99,145080.0,3811251.60,128606.0,613021.40,4631548.94,236299.10,68601.68,820297.34,17.71,0.89
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,1750.0,28.99,164038.0,3804041.22,142035.0,512403.31,4291107.61,260975.54,144929.24,487066.39,11.35,0.87
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,1750.0,24.99,187407.0,3418303.68,169835.0,420408.49,4131626.15,312057.64,123780.22,713322.47,17.26,0.91
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,1750.0,22.99,201682.0,3261197.94,169057.0,382729.79,3817831.43,310629.46,257032.07,556633.49,14.58,0.84
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,1750.0,29.99,138109.0,3023206.01,121484.0,496084.85,3792631.16,223213.81,257032.07,769425.15,20.29,0.88

In [32]:
# # Sales to Purchase Ratio:  It tells how much you are getting on selling compared to how much you are inventing on buying.
# vendors_final_summary['SalesToPurchaseRatio'] = vendors_final_summary['TotalSalesDollars'] / vendors_final_summary['TotalPurchaseDollars']
# vendors_final_summary.head()

,VendorNumber,VendorName,Brand,Description,PurchasePrice,Volume,ActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesPrice,TotalSalesDollars,TotalExciseTax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalesToPurchaseRatio
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,1750.0,36.99,145080.0,3811251.60,128606.0,613021.40,4631548.94,236299.10,68601.68,820297.34,17.71,0.89,1.215230
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,1750.0,28.99,164038.0,3804041.22,142035.0,512403.31,4291107.61,260975.54,144929.24,487066.39,11.35,0.87,1.128039
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,1750.0,24.99,187407.0,3418303.68,169835.0,420408.49,4131626.15,312057.64,123780.22,713322.47,17.26,0.91,1.208677
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,1750.0,22.99,201682.0,3261197.94,169057.0,382729.79,3817831.43,310629.46,257032.07,556633.49,14.58,0.84,1.170684
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,1750.0,29.99,138109.0,3023206.01,121484.0,496084.85,3792631.16,223213.81,257032.07,769425.15,20.29,0.88,1.254506

#=========== Now finally pushing/storing vendors_final_summary table on mysql local server's database 'inventory_db'

In [36]:
# # THROUGH MYSQLCONNECTOR, CURSOR
# conn = mysql.connector.connect(
#     host='localhost',
#     user='root',
#     password='UMMU@112244',
#     database='inventory_db'
# )


# # ============ cursor (DB object to run mysql queries and fetch data line by line from databale tables as per reqd) ===========
# cursor = conn.cursor()

***Creating table and storing vendors_final_summary table in that***

In [34]:
# vendors_final_summary.dtypes   # get idea column names and datatype

VendorNumber               int64
VendorName                object
Brand                      int64
Description               object
PurchasePrice            float64
Volume                   float64
ActualPrice              float64
TotalPurchaseQuantity    float64
TotalPurchaseDollars     float64
TotalSalesQuantity       float64
TotalSalesPrice          float64
TotalSalesDollars        float64
TotalExciseTax           float64
FreightCost              float64
GrossProfit              float64
ProfitMargin             float64
StockTurnover            float64
SalesToPurchaseRatio     float64
dtype: object

In [37]:
# query_CT = """CREATE TABLE IF NOT EXISTS vendors_final_summary (
# VendorNumber INT,
# VendorName VARCHAR(100),
# Brand INT,
# Description VARCHAR(100),
# PurchasePrice DECIMAL(10,2),
# Volume DECIMAL(10,1),
# ActualPrice DECIMAL(10,2),
# TotalPurchaseQuantity INT,
# TotalPurchaseDollars DECIMAL(15,2),
# TotalSalesQuantity INT,
# TotalSalesPrice DECIMAL(15,2),
# TotalSalesDollars DECIMAL(15,2),
# TotalExciseTax DECIMAL(15,2),
# FreightCost DECIMAL(15,2),
# GrossProfit DECIMAL(15,2),
# ProfitMargin DECIMAL(15,2),
# StockTurnover DECIMAL(15,2),
# SalesToPurchaseRatio DECIMAL(15,2),

# PRIMARY KEY (VendorNumber, Brand)
# );
# """

# cursor.execute(query_CT)

In [39]:
# # Now put into this created table 
# with engine.connect() as conn:
#     vendors_final_summary.to_sql('vendors_final_summary', conn , if_exists = 'replace', index= False)  
#     # Like we did while ingesting all tables of vendors database into mysql server database

In [40]:
# #=== now check again 
# with engine.connect() as conn:
#     vfs = pd.read_sql("SELECT * FROM vendors_final_summary", conn)
#     display(vfs)

,VendorNumber,VendorName,Brand,Description,PurchasePrice,Volume,ActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesPrice,TotalSalesDollars,TotalExciseTax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalesToPurchaseRatio
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,1750.0,36.99,145080.0,3811251.60,128606.0,613021.40,4631548.94,236299.10,68601.68,820297.34,17.71,0.89,1.215230
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,1750.0,28.99,164038.0,3804041.22,142035.0,512403.31,4291107.61,260975.54,144929.24,487066.39,11.35,0.87,1.128039
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,1750.0,24.99,187407.0,3418303.68,169835.0,420408.49,4131626.15,312057.64,123780.22,713322.47,17.26,0.91,1.208677
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,1750.0,22.99,201682.0,3261197.94,169057.0,382729.79,3817831.43,310629.46,257032.07,556633.49,14.58,0.84,1.170684
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,1750.0,29.99,138109.0,3023206.01,121484.0,496084.85,3792631.16,223213.81,257032.07,769425.15,20.29,0.88,1.254506
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,750.0,4.99,2.0,2.64,5.0,10.96,15.95,0.55,27100.41,13.31,83.45,2.50,6.041667
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,50.0,0.49,6.0,2.34,134.0,1.47,65.66,7.04,50293.62,63.32,96.44,22.33,28.059829
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,50.0,0.99,2.0,1.48,0.0,0.00,0.00,0.00,14069.87,-1.48,0.00,0.00,0.000000
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,200.0,1.99,1.0,1.47,69.0,71.64,137.31,14.49,257032.07,135.84,98.93,69.00,93.408163
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,50.0,0.99,1.0,0.71,86.0,33.66,85.14,4.46,38994.78,84.43,99.17,86.00,119.915493

# **----------------------------------------------------------------------------------------- BOOKMARK ENDS HERE: Retrive, clean and feature engineering of summaru vendors data  -----------------------------------------------------------------------------------------**

In [51]:
# #==================== RUn script get_vendors_final_summary.py for above task
# %run get_vendors_final_summary.py   # We can schedule this script if we have running data so that nothing manual would be done again & again.